node-red/lib/flows/dadestructor.json
[{"id":"add83c68.223c9","type":"inject","z":"cc8304a1.a337f8","name":"On","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":720,"wires":[["4a444b0.55b46b4"]]},{"id":"2daa1434.3a6e8c","type":"inject","z":"cc8304a1.a337f8","name":"Off","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":780,"wires":[["4a444b0.55b46b4"]]},{"id":"4a444b0.55b46b4","type":"pi-gpiod out","z":"cc8304a1.a337f8","name":"Counter","host":"192.168.66.189","port":8888,"pin":"17","set":true,"level":"0","out":"out","sermin":"1000","sermax":"2000","x":920,"y":760,"wires":[]},{"id":"6c6e0c30.b2d304","type":"mqtt out","z":"cc8304a1.a337f8","name":"","topic":"","qos":"0","retain":"false","broker":"1399d9fc.dba3a6","x":810,"y":560,"wires":[]},{"id":"17527667.3a22fa","type":"mqtt in","z":"cc8304a1.a337f8","name":"","topic":"escapee/destructor/status","qos":"1","broker":"1399d9fc.dba3a6","x":530,"y":320,"wires":[["7348e3df.60819c","afe28957.dd10a8"]]},{"id":"70ad8192.da5bc","type":"ui_text","z":"cc8304a1.a337f8","group":"43728bf9.b42dd4","order":0,"width":"4","height":"3","name":"","label":"time","format":"{{msg.payload}}","layout":"col-center","x":810,"y":380,"wires":[]},{"id":"18bac07f.28752","type":"ui_button","z":"cc8304a1.a337f8","name":"","group":"43728bf9.b42dd4","order":0,"width":0,"height":0,"passthru":false,"label":"Start","color":"","bgcolor":"","icon":"play_arrow","payload":"go","payloadType":"str","topic":"escapee/destructor/command","x":450,"y":500,"wires":[["6c6e0c30.b2d304"]]},{"id":"7348e3df.60819c","type":"debug","z":"cc8304a1.a337f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":200,"wires":[]},{"id":"afe28957.dd10a8","type":"ui_text","z":"cc8304a1.a337f8","group":"43728bf9.b42dd4","order":0,"width":"1","height":"2","name":"","label":"Status","format":"{{msg.payload}}","layout":"col-center","x":810,"y":320,"wires":[]},{"id":"d26ecaca.706a78","type":"mqtt in","z":"cc8304a1.a337f8","name":"","topic":"escapee/destructor/timer","qos":"1","broker":"1399d9fc.dba3a6","x":530,"y":380,"wires":[["70ad8192.da5bc"]]},{"id":"6dece69b.ec5268","type":"ui_button","z":"cc8304a1.a337f8","name":"","group":"43728bf9.b42dd4","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"replay","payload":"reset","payloadType":"str","topic":"escapee/destructor/command","x":450,"y":540,"wires":[["6c6e0c30.b2d304"]]},{"id":"1399d9fc.dba3a6","type":"mqtt-broker","z":"","name":"Escapee","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"43728bf9.b42dd4","type":"ui_group","z":"","name":"Destructor","tab":"c6ee9737.2f9a28","disp":true,"width":"6","collapse":false},{"id":"c6ee9737.2f9a28","type":"ui_tab","z":"","name":"Escapee","icon":"dashboard"}]