node-red/lib/flows/Destructor.json
[{"id":"ca2c58c3.398c78","type":"inject","z":"64d847ff.9941c8","name":"On","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":580,"wires":[["2819a4.6051165c"]]},{"id":"45484f96.53283","type":"inject","z":"64d847ff.9941c8","name":"Off","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":640,"wires":[["2819a4.6051165c"]]},{"id":"2819a4.6051165c","type":"pi-gpiod out","z":"64d847ff.9941c8","name":"Counter","host":"192.168.66.189","port":8888,"pin":"17","set":true,"level":"0","out":"out","sermin":"1000","sermax":"2000","x":680,"y":620,"wires":[]},{"id":"e1b58bc2.5d82a8","type":"mqtt out","z":"64d847ff.9941c8","name":"","topic":"","qos":"0","retain":"false","broker":"ea24e81d.239218","x":570,"y":420,"wires":[]},{"id":"80404e5.e4a6bb","type":"mqtt in","z":"64d847ff.9941c8","name":"","topic":"escapee/destructor/status","qos":"1","broker":"ea24e81d.239218","x":290,"y":180,"wires":[["bc397a1e.769968","ee8fd4c2.877c58"]]},{"id":"533a53f6.b95bec","type":"ui_text","z":"64d847ff.9941c8","group":"e04c3f97.4aa88","order":0,"width":"4","height":"3","name":"","label":"time","format":"{{msg.payload}}","layout":"col-center","x":570,"y":240,"wires":[]},{"id":"d5227ce2.99916","type":"ui_button","z":"64d847ff.9941c8","name":"","group":"e04c3f97.4aa88","order":0,"width":0,"height":0,"passthru":false,"label":"Start","color":"","bgcolor":"","icon":"play_arrow","payload":"go","payloadType":"str","topic":"escapee/destructor/command","x":210,"y":360,"wires":[["e1b58bc2.5d82a8"]]},{"id":"bc397a1e.769968","type":"debug","z":"64d847ff.9941c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":60,"wires":[]},{"id":"ee8fd4c2.877c58","type":"ui_text","z":"64d847ff.9941c8","group":"e04c3f97.4aa88","order":0,"width":"1","height":"2","name":"","label":"Status","format":"{{msg.payload}}","layout":"col-center","x":570,"y":180,"wires":[]},{"id":"54c25428.bd7e6c","type":"mqtt in","z":"64d847ff.9941c8","name":"","topic":"escapee/destructor/timer","qos":"1","broker":"ea24e81d.239218","x":290,"y":240,"wires":[["533a53f6.b95bec"]]},{"id":"a8f42bdf.7dc548","type":"ui_button","z":"64d847ff.9941c8","name":"","group":"e04c3f97.4aa88","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"replay","payload":"reset","payloadType":"str","topic":"escapee/destructor/command","x":210,"y":400,"wires":[["e1b58bc2.5d82a8"]]},{"id":"ea24e81d.239218","type":"mqtt-broker","z":"","name":"Escapee","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"e04c3f97.4aa88","type":"ui_group","z":"","name":"Destructor","tab":"b0116f27.7c638","disp":true,"width":"6","collapse":false},{"id":"b0116f27.7c638","type":"ui_tab","z":"","name":"Escapee","icon":"dashboard"}]