node-red/flows_broker.json
[{"id":"29bf22f9.643e2e","type":"tab","label":"Destructor","disabled":false,"info":""},{"id":"50186452.45481c","type":"tab","label":"Greetor","disabled":false,"info":""},{"id":"ca75b412.6e7bf8","type":"mqtt-broker","z":"","name":"Escapee","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"28d17142.12eb4e","type":"ui_group","z":"","name":"Destructor","tab":"8b07881e.4c2a28","disp":true,"width":"6","collapse":false},{"id":"8b07881e.4c2a28","type":"ui_tab","z":"","name":"Escapee","icon":"dashboard"},{"id":"30b1f467.fdd86c","type":"inject","z":"29bf22f9.643e2e","name":"On","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":674,"y":947,"wires":[["c2fd93ac.38863"]]},{"id":"ddbfe94d.851d58","type":"inject","z":"29bf22f9.643e2e","name":"Off","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":654,"y":1007,"wires":[["c2fd93ac.38863"]]},{"id":"c2fd93ac.38863","type":"pi-gpiod out","z":"29bf22f9.643e2e","name":"Counter","host":"192.168.66.189","port":8888,"pin":"17","set":true,"level":"0","out":"out","sermin":"1000","sermax":"2000","x":884,"y":987,"wires":[]},{"id":"c22f774f.9d1808","type":"mqtt out","z":"29bf22f9.643e2e","name":"","topic":"","qos":"0","retain":"false","broker":"ca75b412.6e7bf8","x":774,"y":787,"wires":[]},{"id":"3fec027c.8d230e","type":"mqtt in","z":"29bf22f9.643e2e","name":"","topic":"escapee/destructor/status","qos":"1","broker":"ca75b412.6e7bf8","x":494,"y":547,"wires":[["b9bf4380.f4cf6","af1e046a.d4ce48"]]},{"id":"44119b70.b206b4","type":"ui_text","z":"29bf22f9.643e2e","group":"28d17142.12eb4e","order":0,"width":"4","height":"3","name":"","label":"time","format":"{{msg.payload}}","layout":"col-center","x":774,"y":607,"wires":[]},{"id":"3e77cc78.fd4644","type":"ui_button","z":"29bf22f9.643e2e","name":"","group":"28d17142.12eb4e","order":0,"width":0,"height":0,"passthru":false,"label":"Start","color":"","bgcolor":"","icon":"play_arrow","payload":"go","payloadType":"str","topic":"escapee/destructor/command","x":414,"y":727,"wires":[["c22f774f.9d1808"]]},{"id":"b9bf4380.f4cf6","type":"debug","z":"29bf22f9.643e2e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":674,"y":427,"wires":[]},{"id":"af1e046a.d4ce48","type":"ui_text","z":"29bf22f9.643e2e","group":"28d17142.12eb4e","order":0,"width":"1","height":"2","name":"","label":"Status","format":"{{msg.payload}}","layout":"col-center","x":774,"y":547,"wires":[]},{"id":"91c88b37.7e46b8","type":"mqtt in","z":"29bf22f9.643e2e","name":"","topic":"escapee/destructor/timer","qos":"1","broker":"ca75b412.6e7bf8","x":494,"y":607,"wires":[["44119b70.b206b4"]]},{"id":"b45b3d5f.4c272","type":"ui_button","z":"29bf22f9.643e2e","name":"","group":"28d17142.12eb4e","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"replay","payload":"reset","payloadType":"str","topic":"escapee/destructor/command","x":414,"y":767,"wires":[["c22f774f.9d1808"]]},{"id":"f2a23c88.a3845","type":"delay","z":"29bf22f9.643e2e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":604,"y":1161,"wires":[[]]}]